@font-face {
    font-family:'Dafont' ;
    src: url(./vanilla_whale/Vanilla\ Whale.otf);
}
@font-face {
    font-family: 'Subtitle';
    src: url(./brains_courage/Brains\ Courage\ Demo.otf);
}
h1{
    padding: 0;
    margin: 0;
    font-family: 'Dafont', sans-serif;
    color:rgb(6, 6, 41);
    letter-spacing: 30px;
    font-size: 60px;
    text-decoration: none;

}
.title{
    text-decoration: none
}

body{
    background-color: rgb(255, 245, 230);
}
.NakedFamous{
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    border-radius:50%;
    font-style: italic;
    display:inline-block;
}
.NakedFamous-title{
text-align: center;
font-family:'Subtitle';

}
.NakedFamous-subtitle{
    text-align: center;
    font-size: large;
    font-style: italic;
    }
a {
     text-decoration: none;
        
}
.NakedFamous-description{
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    border-radius:50%;
    font-style: italic;
    display:inline-block;
}
.NakedFamous-Container{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-radius:50%;
    font-style: italic;
    display:block;
    
}
